#about-us {
  background: #fafafa;
  margin: 100px 0 0 0;
  padding: 100px 0;

  .inner {
    width: 80%;
    margin: 0 auto 0 auto;

    .alex {
      text-align: right;

    }/*alex*/

    .melanie {
      text-align: left;

    }/*melanie*/

    .about-us-list {
      list-style-type: none;
      margin: 100px 0 0 0;
      text-align: center;

      li {
        vertical-align: top;
        list-style-type: none;
        display: inline-block;
        padding: 0 1%;
        width: 47%;

        h4 {
          padding: 25px 0;
          color: #dfc59e;

        }/*h4*/

        img {
          width: 60%;

        }/*img*/
      }/*li*/
    }/*about-us-list*/

    .mobile-about-us {
      display: none;

    }

    /*Tablet CSS*/
    @media (max-width: 1000px) {

      .about-us-list {

        li {

          img {
            width: 100%;

          }
          p {
            display: none;

          }

        }
      }

      .mobile-about-us {
        display: block;
        margin: 100px 0 0 0;

      }

    }/*Tablet CSS*/

  }/*inner*/
}/*about-us*/