#header {

  .logo {
    text-align: center;
    width: 50%;
    margin: 100px auto;

  }

  .poster {
    width: 100%;
    margin: 20px auto 0 auto;
    display: block;
  }

  .date {
    text-align: center;
    width: 25%;
    margin: -200px 0 0 0;
    width: 100%;
  }

  /*Tablet CSS*/
  @media (max-width: 1000px) {

    .logo {
      width: 70%;
      margin: 200px auto 100px auto;

    }

  }/*Tablet CSS*/

  /*Phone CSS*/
  @media (max-width: 800px) {

  }/*Phone CSS*/

}