#header {

  .logo {
    text-align: center;
    width: 50%;
    margin: 100px auto;

  }

  .poster {
    width: 100%;
    margin: 20px auto 0 auto;
    display: block;
  }

  .date {
    text-align: center;
    width: 25%;
    margin: -200px 0 0 0;
    width: 100%;
  }

}