#nav {
  width: 100%;
  text-align: center;

  .hamburger {
    display: none;
  }

  .nav {
    color: #a6cac1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: -100px auto 0 auto;
    text-align: center;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 20px 0;
    //border-bottom: 1px solid #a6cac1;


    li {
      display: inline-block;
      padding: 0 2%;

      a {
        color: #a6cac1;
        text-decoration: none;

      }

    }
  }

  .large-image {
    width: 100%;
    background: rgba(0, 0, 0, .5);
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    position: fixed;
    z-index: 1000;

    img {
      width: 20%;
      margin: 0 auto;

    }

  }

  .hidden-image {
    display: none;

  }/*hidden-image*/

  /*Tablet CSS*/
  @media (max-width: 1000px) {

    .hamburger {
      position: fixed;
      margin: -300px 0 0 0;
      padding: 25px;
      font-size: 128px;
      color: #a6cac1;
      z-index: 100;
      display: block;
      cursor: pointer;
      width: 100%;
      background: rgba(255, 255, 255, .99);
      text-align: left;

    }

    .nav {
      display: none;

    }

    .hamburger-nav {
      display: block;
      text-align: left;
      padding: 50px 0 25px 75px;
      width: 100%;
      color: #a6cac1;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 100px;
      font-weight: normal;
      margin: -300px auto 0 auto;
      position: fixed;
      background: rgba(255, 255, 255, .99);
      z-index: 99;

      li {
        display: block;
        padding: 20px 0;

      }

      a {
        color: #a6cac1;
        text-decoration: none;

      }

    }

  }/*Tablet CSS*/

  /*Phone CSS*/
  @media (max-width: 1000px) {

  }/*Phone CSS*/


}/*nav*/