#our-story {
  margin: 200px auto 0 auto;
  padding: 100px 0 0 0;
  width: 80%;

  .mobile-story {
    display: none;

  }

  .our-story-list {
    list-style-type: none;
    margin: 100px 0 0 0;
    text-align: center;
    vertical-align: top;

    li {
      vertical-align: top;
      list-style-type: none;
      display: inline-block;
      padding: 0 1%;
      width: 22%;
      cursor: pointer;

      .highlight-box {
        background: #dfc59e;
        color: white;

      }/*highlight-box*/

      h4 {
        color: #dfc59e;
        font-weight: normal;
        margin: 5px 0 0 0;
        padding: 5px 0;
        vertical-align: top;

      }/*h4*/

        img {
          width: 100%;
          vertical-align: top;

        }/*img*/

    }/*li*/

  }/*our-story-list*/

  .story-text {
    padding: 50px 0 0 0;

    p {
      margin: 25px 0 0 0;

    }/*p*/

  }/*story-text*/

  .hidden-text {
    display: none;

  }/*hidden-text*/

  /*Tablet CSS*/
  @media (max-width: 1000px) {
    width: 100%;
    margin: 200px auto 0 auto;
    padding: 200px 0 100px 0;

    h3 {
      width: 80%;
      margin: 0 auto 200px auto;

    }

    .story-text {
      width: 80%;
    }

    #beginning-text {
      display: none;

    }

    h4 {
      display: none;

    }

    .mobile-story {
      display: block;
      width: 80%;
      margin: 200px auto 0 auto;

    }

  }/*Tablet CSS*/

}/*our-story*/