#rsvp {
  width: 80%;
  margin: 100px auto;

  h3 {
    margin: 0 0 100px 0;

  }

  #rsvp-form {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    background: #fbf7f5;
    padding: 50px;

    li {
      margin: 20px 0;

    }

  }

  form {
    text-align: center;

  }

  .name, .email, .number {
    border: none;
    display: inline-block;
    width: 70%;
    padding: 7px;

  }

  .submit {
    background: #a6cac1;
    color: white;
    border: none;
    height: 30PX;
    width: 100px;
    display: block;

  }

  .i {
    width: 20%;
    display: inline-block;

  }

  .attending {
    width: 70%;
    height: 40px;

  }

}/*rsvp*/