#rsvp {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;

  h3 {
    margin: 0 0 100px 0;

  }

  #rsvp-form {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    background: #fafafa;
    padding: 50px;

    li {
      margin: 20px 0;

    }

  }

  form {
    text-align: center;

  }

  .name, .email, .number {
    border: none;
    display: inline-block;
    width: 70%;
    padding: 7px;

  }

  .submit {
    background: #a6cac1;
    color: white;
    border: none;
    height: 30PX;
    width: 100px;
    display: block;

  }

  .i {
    width: 20%;
    display: inline-block;

  }

  .attending {
    width: 70%;
    height: 40px;

  }

  /*Tablet CSS*/
  @media (max-width: 1000px) {

    #rsvp-form {
      width: 80%;

    }

    .name, .email, .number {
      padding: 15px;
      font-size: 32px;

    }

    .attending {
      font-size: 32px;

    }

  }/*Tablet CSS*/

  /*Phone CSS*/
  @media (max-width: 500px) {

  }/*Phone CSS*/

}/*rsvp*/