h1 {
  font-family: 'Meddon', cursive;
  font-size: 40px;
  color: #671c3a;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 48px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #dfc59e;
}

h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  color: #671c3a;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #671c3a;

}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #697379;
  line-height: 30px;

}