h1 {
  font-family: 'Meddon', cursive;
  font-size: 40px;
  color: #671c3a;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 48px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #dfc59e;
}