#wedding-party {
  background: #fafafa;
  padding: 100px 0;

  h5 {
    color: #dfc59e;

  }/*h5*/

  .inner {
    width: 80%;
    margin: 0 auto 0 auto;

  }/*inner*/

  .bridesmaids {
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;

    li {
      width: 13%;
      display: inline-block;
      padding: 0 1%;

      img {
        width: 100%;

      }/*img*/
    }/*li*/
  }/*bridesmaids*/

  .groomsmen {
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;

    li {
      width: 13%;
      display: inline-block;
      padding: 0 1%;

      &:hover {
        opacity: .7;

      }

      img {
        width: 100%;

      }/*img*/
    }/*li*/
  }/*groomsmen*/

  h3 {
    padding: 0 0 100px 0;

  }/*h3*/

  /*Tablet CSS*/
  @media (max-width: 1000px) {
    padding: 200px 0;

    h3 {
      padding: 0 0 200px 0;

    }

    .bridesmaids {
      margin: 0;

      li {
        width: 30%;

      }
    }

    .groomsmen {

      li {
        width: 30%;

      }
    }

    h5 {
      font-size: 60px;
      padding: 20px 0;

    }

  }/*Tablet CSS*/

}/*wedding-party*/