#wedding-info {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;

  .temple {
    width: 100%;
    margin: 100px 0 0 0;

  }/*temple*/

  .overlay {
    background:transparent;
    position:relative;
    width:100%;
    height:300px; /* your iframe height */
    top:300px;  /* your iframe height */
    margin-top:-300px;  /* your iframe height */
  }

  .event-boxes {
    width: 60%;
    text-align: center;
    margin: 100px auto 0 auto;

    li {
      display: inline-block;
      padding: 10px 0;
      margin:0 2%;
      width: 28%;
      font-family: "Josefin Sans", sans-serif;
      font-size: 24px;
      font-weight: normal;
      color: #a6cac1;
      cursor: pointer;
    }/*li*/

    .highlight-box {
      background: #a6cac1;
      color: white;

    }

  }/*event-boxes*/

  .hidden-info {
    display: none;

  }/*hidden-info*/

  .event-info {
    width: 100%;
    text-align: center;
    margin: 100px 0 0 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 5%;

    }/*li*/

  }/*sealing-info*/

  .where-when {
    text-align: left;
    padding: 20px 0 0 0;
    display: inline-block;
    width: 30%;

    h4 {
      padding: 0 0 20px 0;

    }

    a {
      margin: 40px 0 0 0;
      font-size: 20px;

      i {

        color: #a6cac1;

        h5 {
          color: #a6cac1;
          display: inline-block;
          font-size: 22px;
          padding: 0 0 0 5px;

        }

      }

    }

  }

  .when {
    padding: 40px 0;
  }

  .map {
    display: inline-block;
    width: 48%;
  }

  /*Tablet CSS*/
  @media (max-width: 1000px) {
    width: 100%;

    h3 {
      width: 80%;
      margin: 0 auto;

    }

    .event-boxes {
      width: 100%;

      li {
        font-size: 56px;
        margin: 0;
        width: 32%;

      }
    }

    .where-when {
      width: 50%;

      a {

        i {
          font-size: 56px;

          h5 {
            font-size: 56px;

          }
        }
      }
    }

    .map {
      width: 28%;

    }

  }/*Tablet CSS*/

  /*Phone CSS*/
  @media (max-width: 500px) {

  }/*Phone CSS*/

}/*wedding-info*/