/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_header.scss */
#header .logo {
  text-align: center;
  width: 50%;
  margin: 100px auto;
}
/* line 10, ../sass/_header.scss */
#header .poster {
  width: 100%;
  margin: 20px auto 0 auto;
  display: block;
}
/* line 16, ../sass/_header.scss */
#header .date {
  text-align: center;
  width: 25%;
  margin: -200px auto 0 auto;
}

/* line 1, ../sass/_text.scss */
h1 {
  font-family: 'Meddon', cursive;
  font-size: 40px;
  color: #671c3a;
}

/* line 7, ../sass/_text.scss */
h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 48px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #dfc59e;
}

/* line 15, ../sass/_text.scss */
h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  color: #671c3a;
}

/* line 21, ../sass/_text.scss */
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #671c3a;
}

/* line 28, ../sass/_text.scss */
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* line 34, ../sass/_text.scss */
p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #697379;
  line-height: 30px;
}

/* line 1, ../sass/_our-story.scss */
#our-story {
  margin: 200px auto 0 auto;
  padding: 100px 0 0 0;
  width: 80%;
  /*our-story-list*/
}
/* line 6, ../sass/_our-story.scss */
#our-story .our-story-list {
  list-style-type: none;
  margin: 100px 0 0 0;
  text-align: center;
  /*li*/
}
/* line 11, ../sass/_our-story.scss */
#our-story .our-story-list li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1%;
  width: 22%;
  /*highlight-box*/
  /*h4*/
  /*img*/
}
/* line 17, ../sass/_our-story.scss */
#our-story .our-story-list li .highlight-box {
  background: #dfc59e;
  color: white;
}
/* line 23, ../sass/_our-story.scss */
#our-story .our-story-list li h4 {
  color: #dfc59e;
  font-weight: 100;
  margin: 5px 0 0 0;
  padding: 5px 0;
}
/* line 31, ../sass/_our-story.scss */
#our-story .our-story-list li img {
  width: 100%;
}
/* line 40, ../sass/_our-story.scss */
#our-story .story-text {
  padding: 50px 0 0 0;
}
/* line 43, ../sass/_our-story.scss */
#our-story .story-text p {
  margin: 25px 0 0 0;
}

/*our-story*/
/* line 1, ../sass/_about-us.scss */
#about-us {
  background: #fafafa;
  margin: 100px 0 0 0;
  padding: 100px 0;
  /*inner*/
}
/* line 6, ../sass/_about-us.scss */
#about-us .inner {
  width: 80%;
  margin: 0 auto 0 auto;
  /*alex*/
  /*melanie*/
  /*about-us-list*/
}
/* line 10, ../sass/_about-us.scss */
#about-us .inner .alex {
  text-align: right;
}
/* line 15, ../sass/_about-us.scss */
#about-us .inner .melanie {
  text-align: left;
}
/* line 20, ../sass/_about-us.scss */
#about-us .inner .about-us-list {
  list-style-type: none;
  margin: 100px 0 0 0;
  text-align: center;
  /*li*/
}
/* line 25, ../sass/_about-us.scss */
#about-us .inner .about-us-list li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1%;
  width: 47%;
  /*h4*/
  /*img*/
}
/* line 31, ../sass/_about-us.scss */
#about-us .inner .about-us-list li h4 {
  padding: 25px 0;
  color: #dfc59e;
}
/* line 37, ../sass/_about-us.scss */
#about-us .inner .about-us-list li img {
  width: 60%;
}

/*about-us*/
/* line 1, ../sass/_wedding-info.scss */
#wedding-info {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  /*temple*/
  /*event-boxes*/
  /*sealing-info*/
}
/* line 6, ../sass/_wedding-info.scss */
#wedding-info .temple {
  width: 100%;
  margin: 100px 0 0 0;
}
/* line 12, ../sass/_wedding-info.scss */
#wedding-info .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 300px;
  /* your iframe height */
  top: 300px;
  /* your iframe height */
  margin-top: -300px;
  /* your iframe height */
}
/* line 21, ../sass/_wedding-info.scss */
#wedding-info .event-boxes {
  width: 60%;
  text-align: center;
  margin: 100px auto 0 auto;
  /*li*/
}
/* line 26, ../sass/_wedding-info.scss */
#wedding-info .event-boxes li {
  display: inline-block;
  padding: 10px 0;
  margin: 0 2%;
  width: 28%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #a6cac1;
}
/* line 37, ../sass/_wedding-info.scss */
#wedding-info .event-boxes .highlight-box {
  background: #a6cac1;
  color: white;
}
/* line 45, ../sass/_wedding-info.scss */
#wedding-info .sealing-info {
  width: 100%;
  text-align: center;
  margin: 100px 0 0 0;
  /*li*/
}
/* line 50, ../sass/_wedding-info.scss */
#wedding-info .sealing-info li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5%;
}
/* line 59, ../sass/_wedding-info.scss */
#wedding-info .where-when {
  text-align: left;
  padding: 20px 0 0 0;
  display: inline-block;
  width: 30%;
}
/* line 65, ../sass/_wedding-info.scss */
#wedding-info .where-when h4 {
  padding: 0 0 20px 0;
}
/* line 70, ../sass/_wedding-info.scss */
#wedding-info .where-when a {
  margin: 40px 0 0 0;
  font-size: 20px;
}
/* line 74, ../sass/_wedding-info.scss */
#wedding-info .where-when a i {
  color: #a6cac1;
}
/* line 78, ../sass/_wedding-info.scss */
#wedding-info .where-when a i h5 {
  color: #a6cac1;
  display: inline-block;
  font-size: 22px;
  padding: 0 0 0 5px;
}
/* line 92, ../sass/_wedding-info.scss */
#wedding-info .when {
  padding: 40px 0;
}
/* line 96, ../sass/_wedding-info.scss */
#wedding-info .map {
  display: inline-block;
  width: 48%;
}

/*wedding-info*/
/* line 1, ../sass/_wedding-party.scss */
#wedding-party {
  background: #fafafa;
  padding: 100px 0;
  /*h5*/
  /*inner*/
  /*bridesmaids*/
  /*groomsmen*/
  /*h3*/
}
/* line 5, ../sass/_wedding-party.scss */
#wedding-party h5 {
  color: #dfc59e;
}
/* line 10, ../sass/_wedding-party.scss */
#wedding-party .inner {
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 16, ../sass/_wedding-party.scss */
#wedding-party .bridesmaids {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  /*li*/
}
/* line 21, ../sass/_wedding-party.scss */
#wedding-party .bridesmaids li {
  width: 13%;
  display: inline-block;
  padding: 0 1%;
  /*img*/
}
/* line 26, ../sass/_wedding-party.scss */
#wedding-party .bridesmaids li img {
  width: 100%;
}
/* line 33, ../sass/_wedding-party.scss */
#wedding-party .groomsmen {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  /*li*/
}
/* line 38, ../sass/_wedding-party.scss */
#wedding-party .groomsmen li {
  width: 13%;
  display: inline-block;
  padding: 0 1%;
  /*img*/
}
/* line 43, ../sass/_wedding-party.scss */
#wedding-party .groomsmen li:hover {
  opacity: .7;
}
/* line 48, ../sass/_wedding-party.scss */
#wedding-party .groomsmen li img {
  width: 100%;
}
/* line 55, ../sass/_wedding-party.scss */
#wedding-party h3 {
  padding: 0 0 100px 0;
}

/*wedding-party*/
/* line 1, ../sass/_rsvp.scss */
#rsvp {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
/* line 6, ../sass/_rsvp.scss */
#rsvp h3 {
  margin: 0 0 100px 0;
}
/* line 11, ../sass/_rsvp.scss */
#rsvp #rsvp-form {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  background: #fafafa;
  padding: 50px;
}
/* line 18, ../sass/_rsvp.scss */
#rsvp #rsvp-form li {
  margin: 20px 0;
}
/* line 25, ../sass/_rsvp.scss */
#rsvp form {
  text-align: center;
}
/* line 30, ../sass/_rsvp.scss */
#rsvp .name, #rsvp .email, #rsvp .number {
  border: none;
  display: inline-block;
  width: 70%;
  padding: 7px;
}
/* line 38, ../sass/_rsvp.scss */
#rsvp .submit {
  background: #a6cac1;
  color: white;
  border: none;
  height: 30PX;
  width: 100px;
  display: block;
}
/* line 48, ../sass/_rsvp.scss */
#rsvp .i {
  width: 20%;
  display: inline-block;
}
/* line 54, ../sass/_rsvp.scss */
#rsvp .attending {
  width: 70%;
  height: 40px;
}

/*rsvp*/
/* line 1, ../sass/_registry.scss */
#registry {
  background: #fafafa;
  padding: 100px 0;
  /*inner*/
  /*honeyfund, target*/
  /*honeyfund*/
  /*a*/
}
/* line 5, ../sass/_registry.scss */
#registry h3 {
  margin: 0 0 100px 0;
}
/* line 10, ../sass/_registry.scss */
#registry h4 {
  color: #697379;
}
/* line 15, ../sass/_registry.scss */
#registry .inner {
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 21, ../sass/_registry.scss */
#registry .honeyfund, #registry .target {
  width: 49%;
  text-align: center;
  display: inline-block;
  margin: 50px 0 0 0;
  /*img*/
}
/* line 27, ../sass/_registry.scss */
#registry .honeyfund img, #registry .target img {
  width: 50%;
}
/* line 33, ../sass/_registry.scss */
#registry .honeyfund {
  float: right;
}
/* line 38, ../sass/_registry.scss */
#registry .target {
  margin: 63px 0 0 0;
}
/* line 41, ../sass/_registry.scss */
#registry .target h5 {
  margin: 10px 0 0 0;
}
/* line 48, ../sass/_registry.scss */
#registry a {
  color: #a6cac1;
  text-decoration: none;
}

/*registry*/
/* line 1, ../sass/_gallery.scss */
#gallery {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  /*photos*/
}
/* line 6, ../sass/_gallery.scss */
#gallery .photos {
  margin: 100px 0 0 0;
  width: 100%;
  text-align: center;
  /*arrow*/
  /*li*/
}
/* line 12, ../sass/_gallery.scss */
#gallery .photos .arrow {
  width: 4%;
  padding: 70px .5% 0 .5%;
  vertical-align: top;
  /*i*/
}
/* line 17, ../sass/_gallery.scss */
#gallery .photos .arrow i {
  font-size: 48px;
  color: #a6cac1;
}
/* line 25, ../sass/_gallery.scss */
#gallery .photos li {
  list-style-type: none;
  display: inline-block;
  padding: 0 .25%;
  width: 17%;
  /*img*/
}
/* line 31, ../sass/_gallery.scss */
#gallery .photos li img {
  width: 100%;
}

/*gallery*/
/* line 1, ../sass/_nav.scss */
#nav {
  width: 100%;
}
/* line 4, ../sass/_nav.scss */
#nav .nav {
  color: #a6cac1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: -100px auto 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  background: white;
  padding: 20px 0;
  opacity: .9;
}
/* line 18, ../sass/_nav.scss */
#nav .nav li {
  display: inline-block;
  padding: 0 3%;
}
/* line 22, ../sass/_nav.scss */
#nav .nav li a {
  color: #a6cac1;
  text-decoration: none;
}

/*nav*/
/* line 1, ../sass/_footer.scss */
#footer {
  background: #fafafa;
  padding: 100px 0;
}

/*footer*/
