/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_header.scss */
#header .logo {
  text-align: center;
  width: 50%;
  margin: 200px auto 0 auto;
}
/* line 10, ../sass/_header.scss */
#header .nav {
  color: #a6cac1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 100px auto 0 auto;
  text-align: center;
}
/* line 18, ../sass/_header.scss */
#header .nav li {
  display: inline-block;
  padding: 0 5%;
}
/* line 22, ../sass/_header.scss */
#header .nav li a {
  color: #a6cac1;
  text-decoration: none;
}
/* line 31, ../sass/_header.scss */
#header .poster {
  width: 100%;
  margin: 20px auto 0 auto;
  display: block;
}
/* line 37, ../sass/_header.scss */
#header .date {
  text-align: center;
  width: 25%;
  margin: -200px auto 0 auto;
}

/* line 1, ../sass/_text.scss */
h1 {
  font-family: 'Meddon', cursive;
  font-size: 40px;
  color: #671c3a;
}

/* line 7, ../sass/_text.scss */
h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 48px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #dfc59e;
}

/* line 15, ../sass/_text.scss */
h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  color: #671c3a;
}

/* line 21, ../sass/_text.scss */
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #671c3a;
}

/* line 28, ../sass/_text.scss */
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* line 1, ../sass/_our-story.scss */
#our-story {
  margin: 300px auto 0 auto;
  width: 80%;
}
/* line 5, ../sass/_our-story.scss */
#our-story .our-story-list {
  list-style-type: none;
  margin: 100px 0 0 0;
}
/* line 9, ../sass/_our-story.scss */
#our-story .our-story-list li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1%;
  width: 17%;
}
/* line 15, ../sass/_our-story.scss */
#our-story .our-story-list li .story-img {
  background: orange;
  width: 100%;
  height: 200px;
}

/* line 1, ../sass/_about-us.scss */
#about-us {
  background: #fbf7f5;
  margin: 100px 0 0 0;
  padding: 100px 0;
}
/* line 6, ../sass/_about-us.scss */
#about-us .inner {
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 10, ../sass/_about-us.scss */
#about-us .inner .about-us-list {
  list-style-type: none;
  margin: 100px 0 0 0;
  text-align: center;
}
/* line 15, ../sass/_about-us.scss */
#about-us .inner .about-us-list li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1%;
  width: 40%;
}
/* line 21, ../sass/_about-us.scss */
#about-us .inner .about-us-list li .story-img {
  background: orange;
  width: 100%;
  height: 200px;
}

/*about-us*/
/* line 1, ../sass/_wedding-info.scss */
#wedding-info {
  width: 80%;
  margin: 100px auto;
  /*temple*/
  /*event-boxes*/
  /*sealing-info*/
}
/* line 5, ../sass/_wedding-info.scss */
#wedding-info .temple {
  width: 100%;
  margin: 100px 0 0 0;
}
/* line 11, ../sass/_wedding-info.scss */
#wedding-info .event-boxes {
  width: 60%;
  text-align: center;
  margin: 100px auto 0 auto;
  /*li*/
}
/* line 16, ../sass/_wedding-info.scss */
#wedding-info .event-boxes li {
  display: inline-block;
  padding: 10px 0;
  margin: 0 2%;
  width: 28%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #a6cac1;
}
/* line 27, ../sass/_wedding-info.scss */
#wedding-info .event-boxes .highlight-box {
  background: #a6cac1;
  color: white;
}
/* line 35, ../sass/_wedding-info.scss */
#wedding-info .sealing-info {
  width: 100%;
  text-align: center;
  margin: 100px 0 0 0;
  /*li*/
}
/* line 40, ../sass/_wedding-info.scss */
#wedding-info .sealing-info li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5%;
}
/* line 49, ../sass/_wedding-info.scss */
#wedding-info .where-when {
  text-align: left;
  padding: 20px 0 0 0;
}
/* line 53, ../sass/_wedding-info.scss */
#wedding-info .where-when h4 {
  padding: 0 0 20px 0;
}
/* line 58, ../sass/_wedding-info.scss */
#wedding-info .where-when a {
  margin: 40px 0 0 0;
  font-size: 20px;
}
/* line 62, ../sass/_wedding-info.scss */
#wedding-info .where-when a i {
  color: #a6cac1;
}
/* line 66, ../sass/_wedding-info.scss */
#wedding-info .where-when a i h5 {
  color: #a6cac1;
  display: inline-block;
  font-size: 22px;
  padding: 0 0 0 5px;
}
/* line 80, ../sass/_wedding-info.scss */
#wedding-info .when {
  padding: 40px 0;
}

/*wedding-info*/
/* line 1, ../sass/_wedding-party.scss */
#wedding-party {
  background: #fbf7f5;
  padding: 100px 0;
  /*inner*/
  /*bridesmaids*/
  /*groomsmen*/
  /*h3*/
}
/* line 5, ../sass/_wedding-party.scss */
#wedding-party .inner {
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 11, ../sass/_wedding-party.scss */
#wedding-party .bridesmaids {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  /*li*/
}
/* line 16, ../sass/_wedding-party.scss */
#wedding-party .bridesmaids li {
  width: 13%;
  display: inline-block;
  padding: 0 1%;
  /*img*/
}
/* line 21, ../sass/_wedding-party.scss */
#wedding-party .bridesmaids li img {
  width: 100%;
}
/* line 28, ../sass/_wedding-party.scss */
#wedding-party .groomsmen {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  /*li*/
}
/* line 33, ../sass/_wedding-party.scss */
#wedding-party .groomsmen li {
  width: 13%;
  display: inline-block;
  padding: 0 1%;
  /*img*/
}
/* line 38, ../sass/_wedding-party.scss */
#wedding-party .groomsmen li img {
  width: 100%;
}
/* line 45, ../sass/_wedding-party.scss */
#wedding-party h3 {
  padding: 0 0 100px 0;
}

/*wedding-party*/
